@charset "UTF-8";@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:700);
* {
	margin:0;
	padding:0;
}
body {
	font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background:#f4f4f4;
	color:#484848;
	width:100%;
	height:100%;
	max-width:100%;
	margin:0 auto;
	font-size:14px;
}
a {
	text-decoration:none;
	color:#777;
}
/* #adContainer{
	padding-top: 5%;
max-height: 390px;
} */
header {
	display:block;
}
#content_video_ima-controls-div{
	visibility: hidden;
}
.headerWrapper {
	
	color:rgb(89, 124, 148);
	font-weight:400;
	border-top:0;
	border-right:0;
	border-left:0;
	border-bottom:2px solid #e6e6e6;
	margin-bottom:20px;
	background:white;
	display:inline-block;
	width:100%;
}
.logoWrapper {
	padding:0 15px;
	float:left;
}
.logoLink {
	display:inline-block;
}
.logo {

	padding-top:15px;
	padding-bottom:15px;
	display:block;
}
main {
	padding:0 15px;
	max-width:1230px;
	margin-right:auto;
	margin-left:auto;
	display:block;
}
h1 {
	font-size:2em;
	font-weight:400;
	font-family:inherit;
	font-weight:inherit;
	margin:0;
	display:inline-block;
	line-height:62px;
}
.rowWrapper {
	border-radius:2px 2px 2px 2px;
	-moz-border-radius:2px 2px 2px 2px;
	-webkit-border-radius:2px 2px 2px 2px;
	border:1px solid #d7d7d7;
	margin-bottom:20px;
	background-color:#fff;
}
.rowHeader {
	color:#848484;
	background-color:#fbfbfb;
	border-color:#d7d7d7;
	border-bottom:2px solid #d7d7d7;
	border-top-right-radius:inherit;
	border-top-left-radius:inherit;
	cursor:pointer;
	padding:10px 15px;
}
h4 {
	font-size:12px;
	font-weight:normal;
	line-height:1.1;
}
.collapseIcon {
	float:right;
}
.body-row {
	border-top-color:#ddd;
	padding:15px;
}

.body-row2 {
	border-top-color:#ddd;
	width:640px;
	margin:0 auto;
	height: 400px;
}
.settings {
	width:100%;
}
.settings td {
	width:33.3333333%;
	vertical-align:middle;
}
.settings td.flCol {
	text-align:right;
}
.formLabel {
	font-size:13px;
	margin-bottom:10px;
	color:#484848;
	font-weight:400;
	padding-right:15px;
	padding-left:15px;
}
.pillBoxLabel {
	margin-top:4px;
}
.formInput {
	padding-right:15px;
	padding-left:15px;
}
.inputTextarea,.shareText {
	height:auto;
	color:#484848;
	border:1px solid #d7d7d7;
	padding:5px 10px;
	font-size:13px;
	vertical-align:middle;
	background-color:#fff;
	border-radius:2px 2px 2px 2px;
	-moz-border-radius:2px 2px 2px 2px;
	-webkit-border-radius:2px 2px 2px 2px;
	white-space:none !important;
	display:block;
	width:100%;
	line-height:1.42857143;
	resize:none;
}
.dropdown {
	color:#484848;
	border:1px solid #d7d7d7;
	border-radius:2px 2px 2px 2px;
	-moz-border-radius:2px 2px 2px 2px;
	-webkit-border-radius:2px 2px 2px 2px;
	height:34px;
	font-size:13px;
	vertical-align:middle;
	white-space:nowrap;
	width:100%;
	line-height:1.42857143;
	background:#fff;
	cursor:pointer;
}
.buttonGroup {
	display:block;
	position:relative;
	vertical-align:middle;
	line-height:1.42857143;
	margin-top:4px;
}
.button {
	padding:6px 12px;
	border:1px solid #d7d7d7;
	font-size:13px;
	border-radius: 8px;
	background:#fff;
	border-bottom:2px solid #d7d7d7;
	cursor:pointer;
	vertical-align:middle;
	text-align:center;
	white-space:nowrap;
	line-height:1.42857143;
	color: white;
	background:rgb(89, 124, 148);
}
.button:hover {
	color: black;
}
.tag-heading{
font-weight: bold;
}
.buttonActive {
	background:rgb(89, 124, 148);
	border:1px solid rgb(89, 124, 148);
	border-bottom:2px solid rgb(89, 124, 148);
	color:white;
}
.buttonActive:hover {
	background:rgb(89, 124, 148);
	cursor:default;
}
hr {
	margin-bottom:15px;
	margin-top:15px;
	border:0;
	border-top:1px solid #eeeeee;
}
.submitWrapper {
	text-align:center;
}
.submitbutton,.sharebutton {
	background:rgb(89, 124, 148);
	border:1px solid rgb(89, 124, 148);
	border-bottom:2px solid rgb(89, 124, 148);
	color:white;
}
.submitbutton:hover,.sharebutton:hover {
	background:rgb(89, 124, 148);
	border-bottom:1px solid rgb(89, 124, 148);
	margin-top:1px;
}
.videoShow {
	width:640px;
	margin:0 auto;
	height: 360px;
}
.disabled {
	opacity:0.5;
	font-style:italic;
	cursor:default;
}
.error {
	border:1px solid red;
	background:pink;
}
.resultsBegin {
	text-align:center;
}
.settingsCollapse {
	display:block;
}
.resultsCollapse {
	display:none;
}
.eventResults {
	width:50%;
	margin:0 auto;
	display:none;
}
.flowWrapper {
	text-align:center;
}
.impFlow {
	display:inline-block;
}
.impFlow ul {
	padding-top: 15px;
	position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.impFlow li {
	float: left;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 15px 5px 0 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.impFlow li::before, .impFlow li::after{
	content: '';
	position: absolute;
	top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 15px;
}
.impFlow li.dashed::before, .impFlow li.dashed::after{
	content: '';
	position: absolute;
	top: 0; right: 50%;
	border-top: 1px dotted #ccc;
	width: 50%; height: 15px;
}
.impFlow li::after{
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}
.impFlow li:only-child::after, .impFlow li:only-child::before {
	display: none;
}
.impFlow li:only-child{
	padding-top: 0;
}
.impFlow li:first-child::before, .impFlow li:last-child::after{
	border: 0 none;
}
.impFlow li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.impFlow li.dashed:last-child::before{
	border-right: 1px dotted #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.impFlow li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}
.impFlow ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 15px;
}
.impFlow ul ul.dashed::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px dotted #ccc;
	width: 0; height: 15px;
}
.impFlow li a {
	cursor:default;
	border: 1px solid #ccc;
	padding: 10px 10px;
	text-decoration: none;
	color: #ddd;
	font-family: arial, verdana, tahoma;
	font-size: 12px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	background:white;
	width:100px;
	font-style:italic;
	word-wrap: break-word;
}
video{
	width: 100%;
	height: 100%;
}
#content_video{
width: 100%;
    height: 360px;
}
.impFlow li a.dashed {
	border: 1px dotted #ccc;
}
.eventSuccess {
	color:green !important;
	font-style:normal !important;
	font-weight:bold !important;
	background:lightGreen !important;
}
.eventError {
	color:red !important;
	font-style:normal !important;
	font-weight:bold !important;
	background:pink !important;
}
.hiddenEvent {
	display:none;
	font-weight:normal !important;
	font-size:11px !important;
	margin-top:5px;
}
.secondRow {
	margin-top:5px;
}
.metaWrapper {
	display:inline-block;
	width:100%;
}
.leftRow {
	width:680px;
}
.rightRow {
	float:right;
	padding:0px;
}
.flowChart {
	padding:0px 15px 15px 15px;
}
.metaIntro {
	text-align:center;
}
.meta-display {
	display:none;
}
.metaRow {
}
.metaHeader {
	font-weight:bold;
	font-size:14px;
	text-decoration:underline;
}
.metaResult {
	margin-top:5px;
}
.requestCall,.request-tag {
	border:1px solid #ddd;
	width:90%;
	background:#f4f4f4;
	font-size:11px;
	cursor:default;
	color:#777;
	padding:10px;
}
.toggleExpand:before {
	content: "+";
	display:inline-block;
}
.toggleCollapse:before {
	content: "-";
	display:inline-block;
}
.responseShow {
	text-decoration:none;
	cursor:pointer;
}
.responseShow:hover {
	text-decoration:underline;
}
.tagResponse {
	display:none;
	margin-top:2px;
	border:1px solid #ddd;
	width:90%;
	background:#f4f4f4;
	font-size:11px;
	cursor:default;
	color:#777;
	padding:10px;
	white-space:nowrap;
	overflow:scroll;
}
.macros {
	padding-left:15px;
	padding-right:15px;
	margin-bottom:10px;
	font-size:12px;
}
.shareWrapper {
	float:right;
	padding:15px;
}
.shareBox {
	display:none;
}
.ui-widget {
	font-size:14px;
	font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-size:12px;
	font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.shareText {
	width:80%;
	margin:0 auto;
	border:1px solid #ddd;
	background:#f4f4f4;
	font-size:11px;
	color:#777;
	cursor:default;
/* 
	height:100%;
 */
}
.ui-dialog .ui-dialog-titlebar {
	color:#848484;
	background-color:#fbfbfb;
	border-color:#d7d7d7;
	border-bottom:2px solid #d7d7d7;
	border-top-right-radius:inherit;
	border-top-left-radius:inherit;
	cursor:pointer;
	padding:10px 15px;
}
.ui-dialog-titlebar-close {
	display:none;
}
.ui-dialog .ui-dialog-title {
	font-size:12px;
	font-weight:normal;
	line-height:1.1;
}
.ui-widget-header {
	color:#848484;
	background:#fbfbfb;
	border-color:#d7d7d7;
	border-bottom:2px solid #d7d7d7;
	border-top-right-radius:inherit;
	border-top-left-radius:inherit;
	cursor:pointer;
	padding:10px 15px;
	border:0px;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	text-align:center;
	float:none;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-bottom-right-radius:2px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	border-bottom-left-radius:2px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-top-right-radius:2px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	border-top-left-radius:2px;
}
.ui-dialog {
	padding:0px;
}
.ui-dialog .ui-dialog-buttonpane button {
	padding:6px 12px;
	border:1px solid #d7d7d7;
	font-size:13px;
	background:#fff;
	border-bottom:2px solid #d7d7d7;
	cursor:pointer;
	vertical-align:middle;
	text-align:center;
	white-space:nowrap;
	line-height:1.42857143;
	color:grey;
}
.ui-button-text-only .ui-button-text {
	padding:0px;
}
.sharebuttonActive {
	background:rgb(89, 124, 148) !important;
	border:1px solid rgb(89, 124, 148) !important;
	border-bottom:2px solid rgb(89, 124, 148) !important;
	color:white !important;
}
.sharebuttonActive:hover {
	background:rgb(89, 124, 148) !important;
}
.copySuccess {
	display:none;
}
.checkIcon {
	font-size:30px;
	background:#555;
	color:white;
	width:50px;
	height:50px;
	line-height:50px;
	display:block;
	text-align:center;
	position:static;
	top:0;
	left:0;
	z-index:0;
	display:none;
}
footer {
	display:block;
}
.copyright {
	text-align:center;
	font-size:11px;
	margin-bottom:10px;
}


#display-holder{
	display: none;
}
#adContainer{
	margin-top: 20px;
	background-image: url("../img/pilot.png");
	border-radius: 8px;
}
